**/test/
.**
**/*.ts
**/*.map
**/tsconfig.json
**/tslint.json
**/*/node_modules
.cache
.vscode
**/*/rollup.config.js
**/*/jest.config.js
**/*/yarn-error.log
README.md
**/*/.npmignore
!./node_modules/sqlite3